@import url('https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&family=Poppins:wght@100&display=swap');

.App{
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.title{
  grid-column: span 2;
  color: orangered;
  font-family: 'Miltonian Tattoo', arial;
  height: 20vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.searchbar{
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 auto;
  margin-top: 1rem;
  width: 50%;
}
#search{
  width: 50%;
  height: 100%;
  border-radius: 100vw;
  text-align: center;
  background-color: antiquewhite;
  border: 1px solid gray;
}
.buttons{
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 50%;
}
.btn{
  width: 20%;
  max-width: 200px;
  height: 50px;
  border-radius: 100vw;
  border: none;
  background-color: orangered;
  color: white;
}
.btn:hover{
  background-color: black;
  border: 1px solid orangered;
  cursor: pointer;
}
.btn:active{
  height:40px;
}
.pokeName{
  text-align: center;
  margin: 20px;
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
}
.pokeName::before{
  content: "Pokemon Name - ";
}
.pokeType{
  text-align: center;
  margin: 20px;
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
}
.pokeType::before{
  content:'Type - '
}

.grid{
  margin: 0 auto;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.two, .one{
  text-align: center;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#pokeImg, #pokeImgShiny{
  width: 50%;
}